.contenedor-mapa { 
  height: 60vh;  
  width: 100%;   
  position: relative;  
}

.contenedor-busqueda {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color: rgb(80, 79, 79);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  width: auto;
}

.contenedor-busqueda input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.contenedor-busqueda button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.contenedor-busqueda button ion-icon {
  font-size: 20px;
  margin-right: 3px; 
} 

.imagen-super {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  width: 100%; 
  padding: 10px;
  box-sizing: border-box;
  animation: scroll 10s linear infinite; /* Aplica la animación */
}

.imagen-super img {
  width: 8vw;
  height: auto;
  margin: 0 5px;
}

/* Animación para desplazamiento de imágenes */
@keyframes scroll {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

/* Media queries para adaptar el diseño a pantallas más pequeñas */
@media (max-width: 768px) {
  .contenedor-busqueda {
    flex-direction: column;
    align-items: stretch;
    width: 90%;
    left: 50%; 
    transform: translateX(-50%);
  }

  .contenedor-busqueda input {
    width: 100%;
    margin-bottom: 10px;
  }

  .contenedor-busqueda button {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  .contenedor-mapa {
    height: 50vh; 
  }

  .imagen-super img {
    width: 12vw;
  }
}
