.contenedor-busqueda {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color: rgb(80, 79, 79);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Asegura que no haya wrap en pantallas pequeñas */
  gap: 8px;
  width: auto;
  overflow-x: auto; /* Permite desplazamiento horizontal en pantallas pequeñas */
}

.contenedor-busqueda input {
  flex: 1; /* Ajusta el ancho del input */
  min-width: 150px; /* Ancho mínimo en pantallas pequeñas */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contenedor-busqueda button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 40px; /* Asegura un ancho mínimo */
}

.contenedor-busqueda button ion-icon {
  font-size: 20px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .contenedor-busqueda {
    width: 100%;
    left: 0;
    transform: none;
    padding: 5px; /* Reduce padding */
    justify-content: space-between; /* Espacio entre elementos */
    gap: 5px; /* Reduce gap entre botones */
  }

  .contenedor-busqueda input {
    min-width: 100px; /* Reduce el ancho mínimo del input */
    flex: 1;
  }

  .contenedor-busqueda button {
    padding: 6px; /* Ajusta padding en botones */
    min-width: 30px; /* Ajusta ancho mínimo */
  }
  .imagen-super {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    margin-bottom: 50px;
  }
  
  .scroll-container {
    display: flex;
    animation: scroll 5s linear infinite; /* Ajusta la duración según la velocidad deseada */
  }
  
  .scroll-container img {
    width: 50px; /* Tamaño uniforme */
    height: auto;
    margin: 0 5px;
    flex-shrink: 0;
  }
  
  /* Animación de desplazamiento continuo */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Ajusta para que vuelva al inicio */
    }
  }
  
  
}

