<div class="contenedor-mapa">
  <div class="contenedor-busqueda">
    <!-- Botón Volver antes de la barra de búsqueda -->
    <button class="boton-volver" onclick="window.history.back();">
      Volver
    </button>

    <!-- Barra de búsqueda -->
    <input 
      id="autocompletar" 
      type="text" 
      placeholder="Buscar" 
      aria-label="Buscar lugares"
      [(ngModel)]="consultaBusqueda" 
      (keyup.enter)="buscarLugares()">

    <button (click)="buscarLugares()" aria-label="Buscar lugares">
      <ion-icon name="search-outline"></ion-icon>
    </button>

    <button (click)="obtenerDirecciones()" aria-label="Obtener direcciones">
      <ion-icon name="navigate-outline"></ion-icon>
    </button>
    

    <button (click)="irALaUbicacionActual()" aria-label="Ir a la ubicación actual">
      <ion-icon name="locate-outline"></ion-icon> 
    </button>
  </div>

  <google-map 
    height="600px"
    width="100%"
    [options]="opcionesMapa"
    (mapClick)="alHacerClicMapa($event)"
    (mapInitialized)="alMapaListo($event)">
  </google-map>

  <div class="imagen-super">
    <div class="scroll-container">
      <img src="assets/img/Sacuenta.jpg" alt="Acuenta Supermercado">
      <img src="assets/img/Slider.png" alt="Lider Supermercado">
      <img src="assets/img/Ssanta.png" alt="Santa Isabel Supermercado">
      <img src="assets/img/Stottus.png" alt="Tottus Supermercado">
      <img src="assets/img/Soxxo.png" alt="OXXO Tienda de conveniencia">
      <!-- Imágenes duplicadas para efecto de bucle continuo -->
      <img src="assets/img/Sacuenta.jpg" alt="Acuenta Supermercado">
      <img src="assets/img/Slider.png" alt="Lider Supermercado">
      <img src="assets/img/Ssanta.png" alt="Santa Isabel Supermercado">
      <img src="assets/img/Stottus.png" alt="Tottus Supermercado">
      <img src="assets/img/Soxxo.png" alt="OXXO Tienda de conveniencia">
      <img src="assets/img/Sacuenta.jpg" alt="Acuenta Supermercado">
      <img src="assets/img/Slider.png" alt="Lider Supermercado">
      <img src="assets/img/Ssanta.png" alt="Santa Isabel Supermercado">
      <img src="assets/img/Stottus.png" alt="Tottus Supermercado">
      <img src="assets/img/Soxxo.png" alt="OXXO Tienda de conveniencia">
      <img src="assets/img/Sacuenta.jpg" alt="Acuenta Supermercado">
      <img src="assets/img/Slider.png" alt="Lider Supermercado">
      <img src="assets/img/Ssanta.png" alt="Santa Isabel Supermercado">
      <img src="assets/img/Stottus.png" alt="Tottus Supermercado">
      <img src="assets/img/Soxxo.png" alt="OXXO Tienda de conveniencia">
      <img src="assets/img/Sacuenta.jpg" alt="Acuenta Supermercado">
      <img src="assets/img/Slider.png" alt="Lider Supermercado">
      <img src="assets/img/Ssanta.png" alt="Santa Isabel Supermercado">
      <img src="assets/img/Stottus.png" alt="Tottus Supermercado">
      <img src="assets/img/Soxxo.png" alt="OXXO Tienda de conveniencia">
      <img src="assets/img/Sacuenta.jpg" alt="Acuenta Supermercado">
      <img src="assets/img/Slider.png" alt="Lider Supermercado">
      <img src="assets/img/Ssanta.png" alt="Santa Isabel Supermercado">
      <img src="assets/img/Stottus.png" alt="Tottus Supermercado">
      <img src="assets/img/Soxxo.png" alt="OXXO Tienda de conveniencia">
    </div>
  </div>
</div>
