.map-container {
    height: 600px; // Fixed height or adjust as needed
    width: 100%; // Full width of the parent
  }
  
  .location-info {
    padding: 16px; // Add padding for better spacing
    text-align: center; // Center-align text
  }
  