<ion-header color="secondary">
  <ion-toolbar color="secondary">
    <ion-title>Gastos Mensuales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <!-- Selección de Mes -->
  <ion-item color="secondary">
    <ion-label>Selecciona Mes</ion-label>
    <ion-select [(ngModel)]="selectedMonth" (ionChange)="filterProductsByMonth()">
      <ion-select-option *ngFor="let month of months" [value]="month">{{ month }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Tarjeta de Gastos Mensuales -->
  <ion-card mode="ios" color="primary" class="d-flex-center ion-text-center">
    <div style="display: flex; justify-content: space-around; width: 100%;">
      <div style="margin-right: 20px;">
        <h5>{{ filteredProducts.length }}</h5>
        <p>Productos</p>
      </div>
      
      <div style="margin-left: 20px;">
        <h5>{{ ('$' + (getProfits() | number:'1.0-0')).replace(',', '.') }}</h5>
        <p>Gastado</p>
      </div>
    </div>
  </ion-card>
</ion-content>
