
<ion-header >
  <ion-toolbar color="secondary">
    <ion-title>CheckMyStock</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
  
<ion-content class="ion-padding-top  ion-text-center" color="secondary">
  <ion-title >MI PERFIL </ion-title>
  <ion-avatar>
    <img [src]=" User()?.image " />
  </ion-avatar>

  <ion-button  class="photo-btn" (click)="takeImage()"  mode="ios"  size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

<h2>{{ User()?.name }}
</h2>

<ion-item button detail>
  <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
  <ion-label>Editar Perfil</ion-label>
</ion-item>

<ion-item button detail>
  <ion-icon  color="primary" slot="start" name="document-outline"></ion-icon>
  <ion-label>Terminos & Condiciones</ion-label>
</ion-item>
</ion-content> 